<section class="about-us">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-6 order-lg-1 col-md-12 order-2 py-5">
                <div class="about-us-inner">
                    <div class="box-inner">
                        <h1>About Us</h1>
                        <div class="divider mb-4"></div>
                        @Html.Raw(string.Format("{0}", ViewBag.HomeAboutUs))
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="about-us.html">VIEW MORE</a>
                    </div>
                    <div class="box-inner mt-5">
                        <h1>Business Hour</h1>
                        <div class="divider mb-4"></div>
                        @Html.Raw(string.Format("{0}", ViewBag.BusinessHours))
                        <a class="btn btn-default btn-more btn-border btn-border-black" href="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? ViewBag.LinkBookingAppointment : ViewBag.HyperLinkTell)" target="_blank">
                            @(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "Book Appointment" : "call us") <i class="@(!string.IsNullOrEmpty(string.Format("{0}", ViewBag.LinkBookingAppointment)) ? "fa fa-calendar" : "fa fa-phone")"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 col-md-12 order-1 py-5">
                <div class="box-image">
                    <div class="box-inner">
                        <div class="image-about-us"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>