<div class="slider-banner">
    <div class="sliders">
        <div class="slider-1">
            <div class="box-slider">
                <div class="image">
                    <div class="container-lg">
                        <div class="row justify-content-md-end justify-content-center">
                            <div class="col-md-12">
                                <div class="box-inner text-center py-4">
                                    <h1 class="font-Prata">@ViewBag.Name</h1>
                                    <div class="banner-button">
                                        <a href="@ViewBag.HyperLinkTell" class="btn btn-warning btn-theme btn-none-border">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="slider-2">
            <div class="box-slider">
                <div class="image">
                    <div class="container">
                        <div class="row justify-content-md-end justify-content-center">
                            <div class="col-md-12">
                                <div class="box-inner text-center py-5">
                                    <h1 class="font-Prata">@ViewBag.Name</h1>
                                    <div class="banner-button">
                                        <a href="@ViewBag.HyperLinkTell" class="btn btn-warning btn-theme btn-none-border">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        @*<div class="slider-3">
            <div class="box-slider">
                <div class="image">
                    <div class="container">
                        <div class="row justify-content-center justify-content-md-start">
                            <div class="col-md-12">
                                <div class="box-inner text-center py-4">
                                    <h1 class="font-Prata">@ViewBag.Name</h1>
                                    <div class="banner-button">
                                        <a href="@ViewBag.HyperLinkTell" class="btn btn-warning btn-theme btn-none-border">Call Us <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</div>
